
/* Media Query */

/* for-smartphone */
@media screen and (max-width:688px) {
    .container{
        width: 50%;
    }
    .header-section{
        display: block;
        
    }
     .half-width h1{
       font-size: 36px;
       margin-left: 50px;
    }
    .half-width a{
        margin-left: 50px;
        font-size: 10px;
     }
    
   .half-width img{
        width: 500px;
        height: 320px;
        margin-top: 50px;
        margin-left: 20px;
   }
   .players{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       grid-row-gap: 24px;
       
   }
   .player{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 }
   .player-detail p{
    width: 300px;
 }
   .highlight-section{
    display: block;
 }
   .divided-width h1{
    font-size: 36px;
    
 }
 .divided-width img{
    width:328px;
    height: 248px;
 }
 .footer-thumbnail img{
         width: 80%;
        
     }
}

/* For Tablet */

@media screen and (min-width:689px) and (max-width:992px) {
    .container{
        width: 75%;
    }
    .header-section{
        display: block;
        
    }
     .half-width h1{
       font-size: 50px;
       margin-left: 150px;
    }
    .half-width a{
        margin-left: 150px;
        font-size: 10px;
     }
    
   .half-width img{
    width: 529px;
    height: 320px;
    margin-top: 50px;
    margin-left: 150px;
   }
   .players{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 24px;
       
   }
   .player{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
 }
   .player-detail p{
    width: 300px;
 }
    .highlight-section{
    display: flex;
 }
.divided-width h1{
    font-size: 36px;
    
}
 .divided-width img{
    width:328px;
    height: 248px;
     }
     .footer-thumbnail img{
         width: 80%;
        
     }

}
